<article id="standard">
    <h2 id="main-text">Welcome to Luxury.</h2>
    <img src="../../assets/images/jag.jpg" alt="">
    <p>
        European Imports offers only the finest imported sport and luxury vehicles.
        We offer class, taste and excellence.<br>
        Do you?<br>
    </p>
    <%= link_to 'Register to begin your journey to class.', signup_path %><br>
    <%= link_to 'Already classy?', new_session_path %>
</article>
