@import 'colors';
@import 'fonts';

header#header {
    text-align: center;
    padding: 7px;
    color: $primary-color;
    background: $background-color;
    border-bottom: 6px solid $primary-color;
}

body#main {
    background-size: cover;
    background-attachment: fixed;
}

h1#title {
    font-weight: $header-font-weight;
    font-family: $header-font-family;
    font-size: $header-font-size;
    color: $header-font-color;
}

footer#footer {
    text-align: center;
    padding: 7px;
    background: $background-color;
    color: $primary-color;
    border-top: 6px solid $primary-color;
}



aside#sidebar {
    width: 125px;
    padding: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: $background-color;
    color: $header-font-color;
    font-weight: $header-font-weight;
    font-family: $header-font-family;
    font-size: 20px;
    color: $header-font-color;

    :hover {
    color: lighten($header-font-color, 100%);
    font-weight: $header-font-weight;
    font-family: $header-font-family;
    color: $header-font-color;
    text-decoration: none;
    }

    :link {
    color: $header-font-color;
    font-weight: $header-font-weight;
    font-family: $header-font-family;
    color: $header-font-color;
    text-decoration: none;
    }

    :visited {
    color: $header-font-color;
    font-weight: $header-font-weight;
    font-family: $header-font-family;
    color: $header-font-color;
    text-decoration: none;
    }

    :active {
    color: $header-font-color;
    font-weight: $header-font-weight;
    font-family: $header-font-family;
    color: $header-font-color;
    text-decoration: none;
    }
}


$body-bg: transparent;
