@import 'colors';
@import 'fonts';

header#header {
    text-align: center;
    color: $primary-color;
}

.header-image {
    background-image: url("lambo.jpg");
    height: 175px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: static;
    margin: 0;
    border-bottom: 6px solid $background-color;
}

body#main {
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

h1#title {
    margin: 0;
    font-weight: $header-font-weight;
    font-family: $header-font-family;
    font-size: 40px;
    color: $background-color;
    text-align: center;
}

footer#footer {
    text-align: center;
    padding: 7px;
    background: $background-color;
    color: $primary-color;
    border-top: 6px solid $primary-color;
}



aside#sidebar {
    width: 125px;
    height: 160px;
    padding: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: $background-color;
    color: $header-font-color;
    font-weight: $header-font-weight;
    font-family: $header-font-family;
    font-size: 18px;
    color: $header-font-color;

    :hover {
    color: lighten($header-font-color, 100%);
    font-weight: $header-font-weight;
    font-family: $header-font-family;
    color: $header-font-color;
    text-decoration: none;
    }

    :link {
    color: $header-font-color;
    font-weight: $header-font-weight;
    font-family: $header-font-family;
    color: $header-font-color;
    text-decoration: none;
    }

    :visited {
    color: $header-font-color;
    font-weight: $header-font-weight;
    font-family: $header-font-family;
    color: $header-font-color;
    text-decoration: none;
    }

    :active {
    color: $header-font-color;
    font-weight: $header-font-weight;
    font-family: $header-font-family;
    color: $header-font-color;
    text-decoration: none;
    }
}
