<footer id="footer">
    <p>Copyright &copy; 2019
    <%= link_to 'Jacob Johnkoski, Nicholas Niemczyk, Roy Leighton-Code Labs One',
    'https://github.com/jjohnkoski/CarDealership-Lee-Three/tree/Rails-Jacob'  %>    
    </p>
</footer>
